@import "pages/home.css";
@import "pages/circle.css";
@import "pages/meters.css";
@import "pages/account.css";
@import "pages/rating.css";
@import "pages/assigment.css";
@import "pages/progress.css";
@import "pages/login.css";
@import "pages/news.css";
@import "pages/hamburger.css";
@import "profile.css";

.phpdebugbar-restore-btn{
    display: none !important;
}
html,
body,
.view {
  height: 100%;
}
.btn-back{
    border: 1px solid #6b2b6b;
    color: #6b2b6b;
}

.btn-home-blue{
    border: 1px solid #4d67d9 ;
    color: #4d67d9;
}

.btn-home-blue:hover{
    background: #223481;
    color: white;
}

.btn-back:hover, .btn-back, .btn-home-blue{
    box-shadow: unset;
}

.btn-back:hover{
    background:  #6b2b6b;
    color: white;
}

.btn-account, .btn-back, .btn-home-blue{
    padding: .5rem 1.75rem;
    transition: all .55s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

* img{
    object-fit: cover;
}
b{
    font-weight: bold;
}

.my-30{
    margin-top:30px;
    margin-bottom: 30px;
}

.alert-success,  .alert-danger {
    position: fixed;
    z-index: 1;
    top: 50px;
    background: white;
    border-radius: 0;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    margin: 0;
    right: -100%;
}

.alert-success{
    border: 1px solid #44e15f;
}

.alert-danger{
    color: #e04b4b;
    border: 1px solid #e04b4b;
}

.no-box-shadow{
    box-shadow: unset !important;
}

.textarea.form-control{
    border-color: #cdcdcd;
}

.border-top-light{
    border-top: 1px solid #cdcdcd;
}

.form-control:focus{
    border-color: #fff !important;
    box-shadow: 0 0 0 0.2rem rgba(119, 105, 200, .3);
}

.upload-btn{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn-clean{

    outline: 0;border: unset;
}

.radius-right{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text-shadow-slight{
    text-shadow: 0px 0px 3px rgb(80,80,80);
}

.object-fit{
    object-fit: cover;
}

.con-fluid-padding-top{
    padding-top: 15px;
}

.con-fluid-padding-bottom{
    padding-bottom: 15px;
}

.animated.delay-25ms{
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
.animated.delay-50ms{
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.animated.delay-75ms{
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

.aj-center{
    justify-content: center;
    align-items: center;
}

.border-white{
    border: 1px solid white !important;
}


.full-flex{
    display: flex;
    width: 100%;
    height: 100%;
}

.home-link{
    color: #212121;
}

.home-link:hover{
    color: #007bff;
}

.running-img{
    height:425px;
}

.w-lg-75{
    width: 75%;
}

body{
    font-family: 'Muli', sans-serif;
    background: #EAEAEA;
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; }

  .all-user-name{
      font-size: 14px;
  }

  .all-user-email{
      font-size: 10px;
  }

  .all-user-icon{
      font-size: 16px;
      height: 40px;
      width: 40px;

  }

  .completed-divider{
      display: none;
  }
}

/* Navbar animation */
.navbar {
  background-color: transparent;
    box-shadow: unset;
}

.top-nav-collapse {
  background-color: #929FBA; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #929FBA; }
    .checkbox-label{
        font-size: 13px;
    }

    .top-name{
        font-size: 11px;
    }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .dashboard-pager{
        height: 40vh !important;
    }

    .add-img-btn, .add-dissclose, .add-img span{
        font-size: 11px;
    }

    .profile-btn{
        position: absolute;
        bottom: -40px;
        right: 0;
        left: 0;
        text-align: center;
    }

    .top-name{
        font-size: 10px;
    }

    .top-place {
        font-size: 12px;
    }

    .new-content{
        font-size: 12px !important;
    }

    .header-text{
        font-size: 25px;
    }

    .running-img {
        height: 222px;
    }

    .total-text{
        font-size: 15px;
    }

    .fw-sm{
        width: 100% !important;
    }

    .claim-text{
      font-size: 15px;
    }



}
