
.finish-divider{
    width: 100%;
    height: 10px;
    background: #d6cce0;
    margin-right: 5px;
}

.finish-divider:last-child{
    margin: unset;
}

.profile-graph{
    min-height: 222px;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

.bio-content{
    word-break: break-word;
}

.about-table th{
    display: flex;
}

.about-table th i{
    width: 20px;
}

.no-docu-img{
    width: 111px;
}

table.about-table td, table.about-table th{
    padding: 10px;
}

.user-info-wrap .user-content{
    background: white;
}

.user-content .user-icon{
    font-size: 40px;
}

.user-content .user-int{
    font-size: 30px;
}

.user-content .user-icon, .user-content .user-int{
    margin: 20px auto;
    font-weight: bold;
}

.user-content .user-text{
    font-size: 18px;
    text-align: center;
}

.account-sidenav .nav-link.active{
    border-left: 5px solid #4d67d9;
}

.change-img{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ae85fc;
    border-radius: 100%;
    color: white !important;
    transition: all .55s;
    -webkit-transition: all .55s;
}

.previewImg{
    width: 100%;
}

.change-img:hover{
    background: #7b58bf;
}

.change-img i{
    font-size: 16px;
    padding: .55rem;
}

.pre-wrap span{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    color: white;
    font-size: 20px;
}

.profile-btn{
    position: absolute;
    bottom: 0;
    right: 0;
}
.teacher:hover, .student:hover{
    background: rgba(77, 103, 217, .04);
}

.roles-wrap .st{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.6rem;
    margin: auto 10px;
    border: 2px solid #c5c6c7;
    width: 120px;
}

.roles-wrap .student.active, .roles-wrap .teacher.active{
    border-color: #4d67d9;
}

.roles-wrap .student.active i, .roles-wrap .teacher.active span{
    color: #4d67d9;
}

.roles-wrap:hover{
    cursor: pointer;
}

.roles-wrap i{
    font-size: 40px;
}

.roles-wrap i, .roles-wrap span{
    color: grey;
}

.roles-wrap span{
    margin-top: 10px;
}

.user-f-wrap .user-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.user-f-wrap .user-img img, .add-img-content .img-bg{
    object-fit: cover;
}

.add-img-content .img-bg{
    width: 100%;
    height: 150px;
    opacity: .7;
}

#no-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-img-content .img-upload {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid white;
    object-fit: cover;
}

.preview-name, .add-img-content .img-upload{
    position: relative;
    top: -70px;
}

.add-img{
    position: absolute;
    height: 40px;
    width: 100%;
    background: rgba(0,0,0,.6);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .55s;
    -webkit-transition: all .55s;
}

.add-img:hover{
    background: black;
}

.add-img, .add-img span{
    color: white;
    text-align:center;
}

.add-img, .custom-upload-img{
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.add-img-btn, .add-dissclose{
    padding: 1.6rem;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    background: #fcfcfc;
    color: #505050;
    transition: all .55s;
    -webkit-transition: all .55s;
    width: 100%;
}

.add-dissclose{
    border-left: 1px solid #dee2e6;
}

.add-img-btn:hover, .add-dissclose:hover{
    background: #f5f6f7;
    cursor: pointer;
}

.custom-upload-img{
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
}

.user-img{
    position: relative;
    border: 6px solid #eaeaea;
    border-radius: .25rem;
}

.user-f-wrap{
    position:relative;
    top: -55px;
}

.user-header-wrap{
    padding-top: 65px;
    padding-left: 10px;
}

.user-f-wrap .user-header-name{
    font-size: 24px;
    border-bottom: 1px solid #b5b5b5;
    font-weight: 600;
}


.user-stnumber small{
    font-size: 3px;

}

.delay-1ms{
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
.delay-2ms{
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.delay-3ms {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.delay-4ms{
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}
.delay-5ms{
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}
.delay-6ms{
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.delay-7ms{
    -webkit-animation-delay: .85s;
    animation-delay: .85s;
}
.delay-8ms{
    -webkit-animation-delay: .95s;
    animation-delay: .95s;
}
.delay-9ms{
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box:nth-child(even) {
    background-color: #ccc;
    color: #000;
}

.wrapper {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
}

.box2 {
    grid-column: 5 / 1 ;
    grid-row: 2 / 3;
    outline: 2px solid red;
    z-index: 10;
}

.profile-bar1 div p{
    bottom: 7px !important;
    left: 25px;
}

.profile-bar1 div, .profile-bar1{
    height: 100px !important;
    width: 100px !important;
}

.profile-bar1 div span{
    font-size: 18px !important;
    line-height: 60px !important;
    height: 80px !important;
    width: 79px !important;
    left: 10px !important;
    top: 10px !important;
}

.tfile-img{
    width: 88px;
}


@media (max-width: 1199.98px){
    .user-content .user-icon{
        font-size: 30px;
    }

    .user-content .user-int{
        font-size: 20px;
    }

    .user-content .user-text{
        font-size: 12px;
    }
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    table.user-table td, table.user-table th{
        font-size: 12px;
    }

    .profile-graph{
        min-height: 180px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    table.user-table td, table.user-table th{
        font-size: 12px;
    }

    .profile-graph{
        min-height: 200px;
    }
}

